.boton-maquina {
    padding-right: 20px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
}

.maquina-seleccionada {
    color: #17a2b8;
}

.maquina-disponible {
    color: #28a745;
}